/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/11/2020, 09:02:17 PM
    Author     : Javier lopez
*/

body {
    margin: 0;
    padding: 0;
    background: url("#{resource['img/br2.jpg']}") no-repeat center top;
    background-size: cover;
    font-size: 12pt;
    font-color: red;
}

h2 {
    background-color: red;
}
#formElemento button{
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

