body {
    margin: 0;
    padding: 0;
    background: url("#{resource['img/br3.jpg']}") no-repeat center top;
    background-size: cover;
    font-size: 12pt;
    font-color: red;
}
.Table{
	position: absolute;
	right: 60px;
	top: 50px;
}
h2 {
    background-color: red;
}

