<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
	<resultMap type='Elemento' id='ElementoResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='tipo' column='tipo'/>  
		<result property='activo' column='activo'/>  
		<result property='baja' column='baja'/>  
        <association property="equipo" javaType="Equipo" columnPrefix="equipo_" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquipoResult"></association>
	</resultMap>
        
        
        <select parameterType="map" id="consultarElemento" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja,
                eq.id as equipo_id,
                eq.nombre as equipo_nombre
                FROM Elemento as e
                left join equipo as eq on eq.id = e.idequipo
                where e.id=#{idele}
        </select>
        <select parameterType="map" id="bajaNoElemento" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                where e.baja='no'
        </select>
        <select parameterType="map" id="consultarElementos" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja,
                eq.id as equipo_id,
                eq.nombre as equipo_nombre
                FROM Elemento as e
                left join equipo as eq on eq.id = e.idequipo
                WHERE e.nombre LIKE #{filtrar}
                <if test="ordenar == 1"> ORDER BY e.id ASC </if>
				<if test="ordenar == 2"> ORDER BY e.nombre ASC </if>
				<if test="ordenar == 3"> ORDER BY e.tipo ASC </if>
				<if test="ordenar == 4"> ORDER BY e.activo DESC </if>
				<if test="ordenar == 5"> ORDER BY e.baja DESC </if>
				<if test="ordenar == 6"> ORDER BY e.idEquipo ASC </if>			
        </select>
        
        <select parameterType="map" id="consultarElementosTorre" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                WHERE e.tipo LIKE 'Torre' and e.baja LIKE 'no' and idequipo is null
        </select>
        
        <select parameterType="map" id="consultarElementosPantalla" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                WHERE e.tipo LIKE 'Pantalla' and e.baja LIKE 'no' and idequipo is null
        </select>
        
        <select parameterType="map" id="consultarElementosMouse" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                WHERE e.tipo LIKE 'Mouse' and e.baja LIKE 'no' and idequipo is null
        </select>
        
        <select parameterType="map" id="consultarElementosTeclado" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                WHERE e.tipo LIKE 'Teclado' and e.baja LIKE 'no' and idequipo is null
        </select>
        <select parameterType="map" id="consultarElementoPorNombre" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.activo,
                e.baja
                FROM Elemento as e
                WHERE e.nombre LIKE #{ele}
        </select>
        
        <insert id="registrarElemento" parameterType="map">
            INSERT INTO Elemento values ((SELECT MAX(id) +1 FROM Elemento), #{ele.nombre}, #{ele.tipo}, 'si','no',null) <!---->
        </insert>

        <update id="asociarElementoAEquipo" parameterType="map">
            UPDATE Elemento
            SET idequipo=#{ide}
            WHERE nombre=#{nom}
        </update> 
        <update id="actualizarDisponibilidadElementos" parameterType="map">
            UPDATE Elemento
            SET activo='si'
            WHERE activo=null
        </update>
        
        <update id="eliminarAsociacion" parameterType="map">
            UPDATE Elemento
            SET idequipo=null
            WHERE id=#{null}
        </update> 
            

        <update id="darBajaElemento" parameterType="map">
            UPDATE Elemento SET baja='si' WHERE id=#{idele}
        </update>

</mapper>