<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper">

	<resultMap type='Equipo' id='EquipoResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='activo' column='activo'/>
		<result property='idlaboratorio' column='idlaboratorio'/> 
        <association property="laboratorio" javaType="Laboratorio" columnPrefix="laboratorio_" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper.LaboratorioResult"></association>
	</resultMap>
        
        <select parameterType="map" id="consultarEquipo" resultMap="EquipoResult">
            select
                e.id,
                e.nombre,
                e.activo,
                e.idlaboratorio,
                l.departamento as laboratorio_departamento
                FROM Equipo as e
                left join laboratorio as l on l.id = e.idlaboratorio
                where e.id=#{idequip}
        </select>
        <select parameterType="map" id="consultarEquipoPorNombre" resultMap="EquipoResult">
            select
                e.id,
                e.nombre,
                e.activo,
                l.departamento as laboratorio_departamento
                FROM Equipo as e
                left join laboratorio as l on l.id = e.idlaboratorio
                where e.nombre=#{nom}
        </select>
        <select  parameterType="map" id="consultarEquipos" resultMap="EquipoResult">
            select
                e.id,
                e.nombre,
                e.activo,
                e.idlaboratorio,
                l.departamento as laboratorio_departamento
                FROM Equipo as e
                left join laboratorio as l on l.id = e.idlaboratorio
                WHERE e.nombre LIKE #{filtrar}
                <if test="filtro == 1"> ORDER BY e.id ASC </if>
				<if test="filtro == 2"> ORDER BY e.nombre ASC </if>
				<if test="filtro == 3"> ORDER BY l.departamento ASC </if>
				<if test="filtro == 4"> ORDER BY e.activo DESC </if>
        </select>
        <select  parameterType="map" id="consultarEquiposActivos" resultMap="EquipoResult">
            select
                e.id,
                e.nombre,
                e.activo,
                e.idlaboratorio,
                l.departamento as laboratorio_departamento
                FROM Equipo as e
                left join laboratorio as l on l.id = e.idlaboratorio
                WHERE e.nombre LIKE #{filtrar} and e.activo like 'si'
                <if test="filtro == 1"> ORDER BY e.id ASC </if>
				<if test="filtro == 2"> ORDER BY e.nombre ASC </if>
				<if test="filtro == 3"> ORDER BY l.departamento ASC </if>
				<if test="filtro == 4"> ORDER BY e.activo DESC </if>
        </select>
        
        <select  parameterType="map" id="consultarEquiposPorLaboratorio" resultMap="EquipoResult">
            select
                e.id,
                e.nombre,
                e.idlaboratorio
            FROM Equipo as e
            WHERE e.idlaboratorio=#{idlab}
            
            
        </select>
        
        <insert id="registrarEquipo" parameterType="map">
            INSERT INTO Equipo values ((SELECT MAX(id) +1 FROM Equipo), #{equip.nombre}, null,'si',null) <!---->
            
        </insert>
</mapper>