<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.LaboratorioMapper">
	<resultMap type='Laboratorio' id='LaboratorioResult'>
		<id property='idlaboratorio' column='idlaboratorio'/>
		<result property='departamento' column='departamento'/>  
                <!--association property="equipo" javaType="Equipo" columnPrefix="id" resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.EquipoMapper.EquipoResult"></association-->
	</resultMap>
        <select parameterType="map" id="consultarLaboratorio" resultMap="LaboratorioResult">
            select
                l.idlaboratorio,
                l.departamento
                FROM Laboratorio as l
                where l.idlaboratorio=#{idlab}
        </select>
        <select parameterType="map" id="consultarLaboratorios" resultMap="LaboratorioResult">
            select
                l.idlaboratorio,
                l.departamento
                FROM Laboratorio as l
                <if test="ordenar == 1"> ORDER BY l.idlaboratorio ASC </if>
				<if test="ordenar == 2"> ORDER BY l.departamento ASC </if>
				
		
				
				
        </select>
        <insert id="registrarLaboratorio" parameterType="map">
            INSERT INTO Laboratorio values ((SELECT MAX(idlaboratorio) +1 FROM Laboratorio), #{lab.departamento}) <!---->
        </insert>
</mapper>