<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ElementoMapper">
	<resultMap type='Elemento' id='ElementoResult'>
		<id property='id' column='id'/>
		<result property='nombre' column='nombre'/>
		<result property='tipo' column='tipo'/>  
		<result property="equipo" column="equipo"></result>

	</resultMap>
        <select parameterType="map" id="consultarElemento" resultMap="ElementoResult">
            select
                e.id,
                e.nombre,
                e.tipo,
                e.direccion,
                e.equipo,
                FROM Elemento as e
                where e.id=#{idele}
        </select>
        <insert id="registrarElemento" parameterType="map">
            insert into Elemento (id, nombre, tipo, direccion, equipo) values
            (#{ele.id}, #{ele.nombre}, #{ele.tipo}, #{ele.direccion}, #{ele.equipo})
        </insert>