<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.samples.persistence.mybatisimpl.mappers.UsuarioMapper">
    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult">
        SELECT

            u.correo,
            u.nombre_usuario,
            u.nombre,
            u.apellido,
            u.estado,
            
            
        FROM  AS u
        WHERE u.correo=#{corr};
    </select>
    <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult">
        SELECT
            u.correo,
            u.nombre_usuario,
            u.nombre,
            u.apellido,
            u.estado
            
            
        FROM USUARIOS AS u;
    </select>
</mapper>



